---
title: Design &amp; Development
layout: default
---
  <div id="work">

    {% for post in site.posts limit: 100 %}
    
      {% if post.designs %}
        <div class="design">
          <div class="design_images">
            {{ post.designs }}
          </div>

          {% if post.link %}
          <section class="link">
            <a href="{{ post.link }}" data-icon='w' class="icon visit_site_icon" target="_blank"><span>Visit website</span></a>
          </section>
          {% else %}
            <section class="case_study">
              <a href="{{ post.url }}" data-icon='+' class="icon case_study_icon load_external_content"><span class='visible'>Open case study</span><span class='hidden'>Close case study</span></a>
            </section>
          {% endif %}
        </div>
      {% endif %}

    {% endfor %}
  </div>

  <div id="about">
    <h1>I design stuff. <a href="mailto:hello@tomlowndes.co.uk" title="Get in Touch">Get in touch</a>.</h1>
    <div class="image_container">
        
    </div>
  </div>
</div>
