{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

    <footer>
      <div id="footer_links">
        <a href="http://twitter.com/tom_lowndes" class="icon dribble twitter-link" target="_blank"><span>Twitter</span></a>
        <a href="http://dribbble.com/" data-icon="d" class="icon dribbble" target="_blank"><span>Dribbble</span></a>
        <a href="http://github.com/tomlowndes" data-icon="g" class="icon github" target="_blank"><span>GitHub</span></a>
        <a href="http://vimeo.com/" data-icon="v" class="icon vimeo" target="_blank"><span>Vimeo</span></a>
        <a href="skype:stiggy89?chat" data-icon="s" class="icon skype"><span>Skype</span></a>
        <a href="mailto:hello@tomlowndes.co.uk" data-icon="e" class="icon email"><span>Email</span></a>
      </div>

      <p class="copyright"><span class="available">Available for work</span> &#10070; <a href="mailto:hello@tomlowndes.co.uk" title="Get in Touch">hello@tomlowndes.co.uk</a></p>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="{{ relative }}javascript/combined.min.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6273751-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>