{% include header.html %}

{% if page.designs %}
  <div class="design">
    <div class="design_images">
      {{ page.designs }}
    </div>
  </div>

  <div id="content_to_load" class="text">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.design_type }}</h3>

    {{ content }}

    {% if page.case_study_link %}
      <a href="{{ page.case_study_link }}" class="button" title="Visit website" target="_blank">Visit website</a>
    {% endif %}

    <div class="previous_next">
      {% if page.previous %}
        {% if page.previous.designs %}
            <a href="{{ page.previous.url }}" class="previous_post" title="Previous design: {{ page.previous.title }}">Previous design: {{ page.previous.title }}</a>
        {% endif %}
      {% endif %}
      {% if page.next %} 
        {% if page.next.designs %}
          <a href="{{ page.next.url }}" class="next_post" title="Next design: {{ page.next.title }}">Next design: {{ page.next.title }}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>


{% else %}


  <div class="text">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.date | date_to_long_string }}</h3>

    {{ content }}

    <a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}:&via=sican" data-icon="t" class="icon twitter_button" title="Share on Twitter" target="_blank"><b></b></a>

    <div class="previous_next">
      {% if page.previous %}
        {% if page.previous.designs == nil %}
          <a href="{{ page.previous.url }}" class="previous_post" title="Previous post: {{ page.previous.title }}">Previous post: {{ page.previous.title }}</a>
        {% endif %}
      {% endif %}
      {% if page.next %} 
        {% if page.next.designs == nil %}
          <a href="{{ page.next.url }}" class="next_post" title="Next post: {{ page.next.title }}">Next post: {{ page.next.title }}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}

{% include footer.html %}